.toolbox{
    @apply p-5 absolute top-1/4 left-5 w-52 rounded-lg;
    box-shadow: theme('colors.shadow1');
    border: 1px solid theme('colors.border1');
    background-color: theme('colors.background1');
    accent-color: #8581ff;

    .toolitem {
        @apply mb-5;

        .tooltext {
            font-size: 15px;
            color: black;
        }

        .itemContainer {
            @apply flex justify-between mt-1 w-fit rounded-lg;

            .colorBox {
                @apply h-5 w-5 mr-1 rounded-sm cursor-pointer;

                &:hover, &.active {
                    border: 1.5px solid theme('colors.border2');
                    box-shadow: theme('colors.shadow2');
                }
            }
        }
    }

    .colorInput{
        background-color: transparent;
        border-color: black;
    }

    .colorInput::-webkit-color-swatch{
        border-radius: 5px;
    }
   
}